<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Alara-Lukagro</ion-title>


    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="assets/images/AL2.jpg"/>
  <br>
  <p><strong>Alle technieken voor geluidsbeheersing onder één dak</strong></p>
  <p>Geluid maken is eenvoudig. Stilte maken niet. Onze 50 jaar ervaring in innovatieve, duurzame stilte-oplossingen zetten wij ook graag voor u in. Onze specialisten informeren u graag over onze producten waaronder geluidsisolerende deuren, omkastingen, geluidswerende wanden, roosters en geluiddempers. In alle markten. Op iedere schaal.</p>
  <br>


</ion-content>
